.input {
  display: flex;
  flex-direction: column;
  max-width: 20em;

  &__label {
    margin: 0 .5em;
  }

  &__textarea {
    border: 3px solid #FF3651;
    border-radius: 10px;
    height: 3em;
  }
}